@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 900;
  src: url(../../../../fonts/FiraCode-Regular.ttf) format('ttf');
}

.markDown {
  position: absolute;
  background-color: #212121; /*#0F111A; */
  padding: 10px;
  border-radius: 5px;
  width: max-content;
}

p.explanation {
  font-family: 'Courier New', 'Fira Code', Courier, monospace;
  color: #89ddff;
  width: max-content;
  font-size: 11pt;
  line-height: 25px;
  word-break: break-all;
}

.white {
  font: inherit;
  color: #edffff; /* #A6ACCD; */
}

.quote {
  font: inherit;
  color: #c3e88d;
}

@media (min-width: 1000px) {
}

@media (max-width: 900px) {
  p.explanation {
    width: 77vw;
    font-size: 10pt;
    /* font-size: 1.8vw; */
  }

  .markDown {
    padding: 5px;
  }
}
