.main-container{
  /* background-color: greenyellow; */
  position: relative;
  /* animation: transition 1s forwards; */
  /* animation-fill-mode: forwards; */
  margin-left:130px;
  margin-right:130px;
  margin-bottom:130px;
}

.slide-wrap{
  margin-bottom: 100px;
}

@keyframes transition {
  0%{
    left: 100%;
  }

  100%{
    left: 0%;
  }
}