div.main-container{
  /* background-color: greenyellow; */
  position: relative;
  /* animation: transition 1s forwards; */
  /* animation-fill-mode: forwards; */
}

@keyframes transition {
  0%{
    left: 100%;
  }

  100%{
    left: 0%;
  }
}