.main-container{
  position: relative;
  margin-bottom:130px;
}

.slide-wrap { 
  position: relative; 
  margin: auto;
  margin-bottom: 100px; 
}

.slide-box { 
  width: 100%; 
  margin: auto; 
  overflow: hidden; 
}

.slide-content { 
  display: table; 
  float: left; 
  width: 100%; 
  height: max-content; 
  margin-left:130px;
  margin-right:130px;
}

