.page-mask{
  height: 250px;
  position: relative;
}

.big-text{
  font-size:10vw;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  color: white;
  /* color: rgb(161, 0, 32); */
}

/* tablet */
@media(max-width: 900px){
  .page-mask{
    height: 24vw;
  }
}

/* phone */
@media(max-width: 550px){
  .page-mask{
    height: 130px;
  }
}