header.nav{
  width:100%;
  height: calc(var(--custom-side-padding) * 1.5);
  text-align: center;
}

.nav a{
  text-decoration: none;
}

.nav button{
  text-decoration: none;
  background-color: black;
  border: 0;
  padding: 0;
}

.nav button:last-of-type span{
  margin-right: 0px;
}

.nav-container{
  display:grid;
  grid-template-columns: 100px 1fr;
  height:inherit;
}

.nav-item{
  text-align: right;
  font-size: 20px;
  margin-top: var(--custom-side-padding);
  margin-right: 40px;
  /* font-weight: 700; */
}

.nav-item.logo{
  text-align: left;
  margin-top: -15px;
  margin-left: var(--custom-side-padding);
}

img.nav-item {
  width: 50px;
}

/* logo color change animation */
#logo-color-change img{animation: red-to-white 2s forwards;}

@keyframes red-to-white{from{filter:none;}to{filter:brightness(0) invert(1);}}

#logo-color-change img:hover{animation: white-to-red 0.5s forwards;}

@keyframes white-to-red{from{filter:brightness(0) invert(1);}to{filter:none;}}

#logo-color-change img.active {
  filter: none !important;
  animation: none;
}

/* navigation item that contains link items */
.nav-item.links{ margin-right: var(--custom-side-padding) }

.nav-item.active{ color:white; }
/* navigation items hover animation */
.nav-item.inactive{ animation: mouse-off-nav-item 2s forwards; }

@keyframes mouse-off-nav-item{ from{ color:white; } to{ color:gray; } }

.nav-item.inactive:hover{ animation: mouse-on-nav-item 0.5s forwards; }

@keyframes mouse-on-nav-item{ from{ color:gray; } to{ color:white; } }

/* phone size 
@media(max-width: 630px){
  .nav-container{grid-template-columns: 1fr;}

  .nav-item{
      margin-left:0 !important;
      margin-right:0 !important;
      text-align: center !important;
  }

  .nav-item.logo{
      margin-top: 62.5px;
  }

  header.nav{
      height:200px;
  }

  .nav-item.links button{
      margin-top: 10px;
      margin-bottom: 10px;
  }
}*/

@media(min-width: 1350px){
  .nav-item{
    margin-right: 2em;
  }
}

/* phone size */
@media(max-width: 600px){
  header.nav{
    height: calc(var(--custom-side-padding) * 2);
  }

  .nav-item{
    margin-right: 15px;
    font-size: 18px;
  }
}

@media(max-width: 400px){
  .nav-item{
    font-size: 15px;
  }
}